/* Fonts */
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* Colors */
/* basic setting */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
/* Typography */
section {
  padding: 10rem 0;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.button {
  padding: 1rem 3rem;
  border-radius: 8px ;
  font-size: 1.2rem;
  background-color: #fbb202;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #e2a002;
}
.g-btn {
  font-size: 1.8rem;
  padding: 1rem 3rem;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #1a1820;
}
.mobile {
  display: none;
}
/* main */
.main {
  background: #ffffff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
  padding: 3rem 0 5rem;
  /* Подзаголовок */
  /* оплата по факту */
  /* главная форма */
}
.main-content {
  margin-top: 10rem;
  /* Главный заголовок */
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 4rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1.45;
}
.main-subtitle {
  font-size: 2.4rem;
  margin-bottom: 5rem;
}
.main span {
  display: inline-block;
  padding: 3rem 4rem;
  font-size: 1.8rem;
  background-color: #48bd15;
  color: #ffffff;
  text-align: center;
  /* Цыфра 300 */
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-trigger {
  margin-top: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
  display: block;
}
.main-form {
  background-color: #ffffff;
  padding: 5rem;
  text-align: center;
  /* Заголовок */
  /* поле для ввода */
  /* Подаиси к полям */
  /* Кнопка */
  /* Подпись под кнопкой */
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form-input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.7rem;
  border-radius: 5px;
}
.main-form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  background-color: #ffffff;
  font-size: 1.3rem;
}
.main-form-btn {
  display: block;
  width: 100%;
  height: 5.5rem;
  font-size: 1.6rem;
}
.main-form small {
  display: block;
  margin-top: 1.2rem;
}
.section-header {
  text-align: center;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 13rem;
  font-size: 3.6rem;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 3.5rem;
}
.features-block p {
  font-size: 1.6rem;
  display: inline-block;
  width: 80%;
}
.features-block span {
  color: #48bd15;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-img img {
  margin: 0 auto;
}
.service {
  background-color: #286a0a;
  background: url(../img/service-bg.jpg);
}
.service-header-light {
  text-align: center;
  line-height: 1.7;
  color: #ffffff;
}
.service-header-light h2 {
  margin-top: 0rem;
  font-size: 3.6rem;
  margin-bottom: 2rem;
}
.service-header-light img {
  min-width: 100%;
}
.service-header-light p {
  font-size: 1.8rem;
}
.service-bl-btn {
  text-align: right;
  margin-top: 1rem;
}
.service-button {
  font-size: 1.8rem;
  padding: 1rem 3rem;
}
.service-price {
  margin-top: 8rem;
}
.service-price-block {
  background-color: #ffffff;
  padding: 3rem 3rem;
  text-align: center;
  margin-bottom: 2rem;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
}
.service-price-item-1 {
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 3rem;
  font-size: 1.9rem;
}
.service-price-item-img {
  width: 100%;
  max-width: 30rem;
}
.service-price-item-3 {
  font-family: 'ProximaNova_bold', sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 3rem;
}
.service-price-list {
  list-style: none;
  padding: 0;
  min-height: 10rem;
}
.service-price-list li {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.rem;
}
.service-price-list li:before {
  content: '';
  display: inline-block;
  width: 100%;
  margin-right: 1rem;
  background: url(../img/tick.svg) no-repeat center;
  background-size: 80%;
  width: 1.3rem;
  height: 1.3rem;
}
.service-price-button {
  font-size: 1.8rem;
  padding: 1rem 3rem;
}
/* Слайдер */
.slick-active {
  outline: none;
}
.prev {
  left: 0;
  background: url(../img/icons/left.svg) center no-repeat;
}
.next {
  right: 0;
  background: url(../img/icons/right.svg) center no-repeat;
}
.arrow {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  z-index: 99;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: 80%;
}
/* форма регистрации */
.popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-form {
  margin-top: 4rem;
  padding: 0;
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 10%;
  background-color: #ffffff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 4rem 8rem;
  text-align: center;
}
.popup-close {
  position: absolute;
  right: -2rem;
  top: -1rem;
  border: none;
  width: 2rem;
  text-align: center;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
}
.popup-header {
  font-family: 'ProximaNova_bold', sans-serif;
}
@media (max-width: 390px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .main-title h1 {
    font-size: 2.2rem;
    margin-bottom: 2.6rem;
  }
  .main-subtitle {
    font-size: 1.8rem;
    margin-bottom: 2.6rem;
  }
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .large {
    display: none;
  }
  .mobile {
    display: block;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-content {
    margin: 4rem;
  }
  .main-title {
    padding-bottom: 3rem;
    text-align: center;
  }
  .service-price {
    margin-top: 0;
  }
  .service-bl-btn {
    margin: 2rem 0;
    text-align: center;
  }
  .service-header-light h2 {
    margin-bottom: 1rem;
  }
}
/* Костыль ;D */
