@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
html {
  font-size: 14px;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.container-fluid {
  position: relative;
  padding: 0;
}
.logos {
  position: relative;
  height: 7rem;
}
.logos img {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.logo-title {
  display: table;
  height: 7rem;
  padding-left: 0;
}
.logo-title-wrap {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.1rem;
  font-weight: 600;
}
.certificate {
  height: 7rem;
  display: table;
}
.certificate-wrap {
  display: table-cell;
  vertical-align: middle;
}
.address {
  display: table;
  height: 7rem;
}
.address-align {
  display: table-cell;
  vertical-align: middle;
}
.address span {
  display: block;
  font-weight: 600;
  font-size: 1.4rem;
}
.block {
  position: absolute;
  top: 0;
  left: 20rem;
  height: 100%;
  background: #c60b0b;
  color: #ffffff;
  text-align: center;
  padding: 2rem 4rem;
}
.block a {
  color: #ffffff;
  text-decoration: underline;
}
.block h1 {
  margin-bottom: 2rem;
}
.block p {
  margin-bottom: 2rem;
}
@media (max-width: 992px) {
  .address {
    text-align: center;
  }
  .logo-title-wrap {
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .red-square {
    left: 8rem;
  }
}
