@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Regular.woff2') format('woff2'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: 'MyriadPro';
  font-size: 10px;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none !important;
}
.change {
  margin-left: 2.5rem;
}
.main-wrapper {
  padding: 2rem;
  border-radius: 4px;
  background-color: #03a2d6;
}
.main-content {
  background-color: #000000;
  padding: 6rem 4rem 3rem ;
  position: relative;
}
.main-title {
  margin-bottom: 3rem;
  text-align: center;
  color: #ffffff;
}
.form ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ffffff;
}
.form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
}
.form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
}
.form :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ffffff;
}
.form-input {
  display: block;
  width: 100%;
  padding: 1.5rem 2rem;
  background-color: #1f1e1e;
  border: none;
  border-radius: 3px;
  font-size: 2.4rem;
  color: #ffffff;
}
.form-input:nth-child(1) {
  margin-bottom: 2.5rem;
}
.form-input:nth-child(2) {
  margin-bottom: 2.5rem;
}
.others {
  margin-left: 2.5rem;
  font-size: 1.5rem;
}
.others-link {
  display: block;
  margin-top: 2rem;
  margin-bottom: 5rem;
  color: #cc412a;
}
.others-bot {
  color: #6f6d6d;
}
.others-bot input {
  margin-right: 6px;
}
.my-btn {
  position: absolute;
  bottom: 1.3rem;
  right: 0;
  padding: 1.2rem 4rem 1.2rem 2.7rem;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
  background: radial-gradient(#cc412a, #830601);
  color: #ffffff;
  font-size: 2.4rem;
  border-radius: 0;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.my-btn-double {
  -webkit-transform: translateX(14%);
          transform: translateX(14%);
}
.my-btn:hover {
  color: #60261c;
  background: radial-gradient(#d62507, #830601);
  cursor: pointer;
  outline: none;
}
/* Зона костылей */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #03a2d6;
}
.nav > li > a {
  padding: 0.8rem 2.5rem;
  color: #080808;
  font-size: 2.4rem;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #ffffff;
}
@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
  .main-wrapper {
    width: 100%;
  }
  .main-title {
    margin-bottom: 30px;
  }
}
@media (max-width: 450px) {
  .my-btn {
    position: static;
    display: block;
    margin: 3rem auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .others {
    text-align: center;
    margin-left: 0;
  }
  .others-link {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 375px) {
  .main-title {
    font-size: 3.6rem;
  }
  html {
    font-size: 7px;
  }
}
