* {
  padding: 0;
  margin: 0;
}

.section {
	background-color: green;
	height: 500px;
  position: relative;
 
}

.block {
	position: absolute;
	left: 50%;
  top: 50%;
	margin-left: -150px;
	margin-top: -200px;
	background-color: #fff;
	height: 400px;
	width: 300px;
	box-sizing: border-box;
	
	border: 2px solid #808080;
	padding: 20px 30px;
}